@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
}



:root {
    --font-1: 'Poiret One', cursive;
    --font-2: 'Gruppo', cursive;
    --font-3: 'Kantumruy Pro', sans-serif;
    --font-4: 'Pompiere', cursive;
}

body {
    width: 800px;
    margin: auto;
    background-color: black;
}

header {
    background-image: url(imagem/elvis-header.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    padding: 30px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 6vw;
    font-family: var(--font-1);
}

header h2 {
    font-size: 2vw;
    font-family: var(--font-4);
}

.container1 {
    background-color: white;
    font-family: var(--font-3);
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 30px;

}

#img1 {
    background-image: url(imagem/home-kid.jpg);
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    background-position: center;
}

.container2 {
    display: flex;
    align-items: ;
    justify-content: center;
}

.container2 p {
    background-color: rgba(153, 153, 153, 0.555);
    color: rgb(255, 255, 255);
    width: 200px;
    padding: 20px;

    margin-left: 20px;
    text-align: justify;

    
    


}