@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Audiowide&display=swap');


body {
    background-image: url(imagens/plano-de-fundo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Audiowide', cursive;;
    color: #F2F2F2;
    max-width: 550px;
    margin: auto;
}

section div h1 {
    color: #F2F2F2;
    font-family: 'Audiowide', cursive;
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 2.5em;
}

section {
    margin-top: 230px;
}

section form {
    display: flex;
}


.descrition {
    margin-right: 20px;
}

strong {
    color: darkred;
}

.button {
    font-size: 18px;
    color: #F2F2F2;
    border: 1px solid rgb(79, 150, 231);
    background-color: rgb(0, 41, 77);
    margin-top: 20px;
    padding: 10px;
    width: 150px;
}

.input {

}