@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    justify-content: center;
    height: 120px;

}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {

    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    background-color: #39aae1;
    color: white;
    border-radius: 10px;
}

#banner { /*Imagem principal inserida abaixo*/
    display: flex;
    justify-content: center;
    background-image: url(../projeto-medicenter/imagens/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}
/*Foi criada uma segunda class dentro da div para aplicar o flex-direction: column*/

.banner-headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Foi feito uma altura flexivel com o banner-headline mantendo o parametro flex:1; assim ele ira se reajustar*/

.banner-headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px gray;
    max-width: 350px;
}

.banner-headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px gray;
    max-width: 350px;
    margin-top: 30px;
}

.banner-option {
    height: 210px;
    display: flex;
    
}
/*Já esta configuração determina uma altura para o banner-option permanecendo fixo*/

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner-title {
    font-size: 21px;
}

.banner-desc {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.banner-option a {
    border: 1px solid white;
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.banner-desc2 {
    text-align-last: justify;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 183, 255, 0.3);

}

