@charset "UTF-8";

* {
    box-sizing: border-box;
    /*
    Este "*" aplica efeito em todos os elementos na tela abaixo. Ao aplicar a proriedade box-sizing: você pode aplicar as seguinte propriedades:

    -content-box = essa proriedade diz que o tamanho do elemento e definido pelo conteudo apenas, sem incluir padding e border.
    
    -border-box = essa  propriedade aplica o tamanho do conteudo incluindo o padding e border totalizando o tamanho real. 
    */
}

.exemplo {
    background-color: greenyellow;
    width: 400px;
    height: 400px;
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
}

#estilo label {
    display: block;
    margin-bottom: 20px;
}

.box-name, textarea, select {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid lightgray;
    outline: 0;
    margin-top: 5px;
}

textarea {
    height: 200px;
    resize: none;
}

.termo-link {
    color: black;
    text-decoration: none;
}

.termo-link:hover {
    text-decoration: underline;
}

#estilo button {
    padding: 10px;
    font-size: 15px;
    border: 1px solid lightblue;
    background-color: lightgray;
}

#estilo button:hover {
    background-color: gray;
}

.setup {
    background-color: rgb(240, 238, 238);
    margin-bottom: 20px;
    border: 1px solid blue;
}



.setup label input {
    margin-bottom: 10px;
    display: block;
}

legend {
    padding: 5px;
    background-color: blue;
    color: white;
}

